{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
 <div class="jumbotron">
    <h1>Napier Github Catalog</h1>
    <p><h2>Welcome to Edinburgh Napier github catalogue!</h2><br>
    In this website you can:<br>
    *Share your idea with other students<br>
    *chat and communicate your course work with others<br>
    *set up your homework<br>
    *find some friends who have the same major or hobbies with you<br>
    SO,,,<br>
    Just feel free and join us!
    </p>
  </div>

